body{
    text-align: center;
}
.ACHIEVEMENTS{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.NEW i{
    float: right;
}
.NEW span{
    color: #ff7700;
}
.NEW li{
    margin-top: 13;
}
.NEW h4{
    border-bottom: 1px solid white;
    padding: 8px;
}
.NEW img{
    border-radius: 25;
}
.NEW p{
    padding-top: 10px;
}